<div class="contactmeBubble">
	<details>
		<summary><strong>Questions/comments/feedback</strong></summary>
		If you have any questions or comments about the project or related papers,
		please, <a href="mailto:julbinb@gmail.com">email me</a>
		or submit your feedback
		<a target="_blank" href="https://forms.gle/aS9Y9pHSiMGhRPm67">using this Google form</a>.
		I would be happy to answer questions that you might have,
		learn about things that are unclear or confusing,
		and receive any other feedback.
	</details>
</div>