<nav id="sidebar-icon-links">
    <a id="email-link"
      class="icon" title="Email" aria-label="Email"
      href="mailto:julbinb@gmail.com">
      <i class="fas fa-at"></i>
    </a>
    <a id="github-link"
      class="icon" title="Github Account" aria-label="Github Account"
      href="{{ site.github.account }}">
      <i class="fab fa-github"></i>
    </a>
    <a id="researchgate-link"
      class="icon" title="Researchgate Profile" aria-label="Researchgate Profile"
      href="{{ site.researchgate }}">
      <i class="fab fa-researchgate"></i>
    </a>
    <a id="linkedin-link"
      class="icon" title="Linkedin Profile" aria-label="Facebook Profile"
      href="{{ site.linkedin }}">
      <i class="fab fa-linkedin-in"></i>
    </a>
    <a id="twitter-link"
      class="icon" title="Twitter Account" aria-label="Twitter Account"
      href="{{ site.twitter }}">
      <i class="fab fa-twitter"></i>
    </a>
    <a id="facebook-link"
      class="icon" title="Facebook Profile" aria-label="Facebook Profile"
      href="{{ site.facebook }}">
      <i class="fab fa-facebook"></i>
    </a>
    <a href="http://prl.ccs.neu.edu" target="_blank" class="icon">
      <img src="img/prl.png" alt="PRL" 
      style="height: 32px; vertical-align: middle; margin: 0; display: inline-block; margin-left: 0.2em" />
    </a>
    

  {% comment %}
    Check if we have tag or search pages page active before linking to it.
  {% endcomment %}
  {% assign tags_page = false %}
  {% assign search_page = false %}
  {% for node in site.pages %}
    {% if node.layout == "tags" %}
      {% assign tags_page = node %}
    {% elsif node.layout == "search" %}
      {% assign search_page = node %}
    {% endif %}
  {% endfor %}

<!--
  {% if tags_page %}
    <a id="tags-link"
       class="icon{% if page.url == '/tags' %} active{% endif %}"
       title="Tags" aria-label="Tags"
       href="{{ site.baseurl }}{{ tags_page.url }}">
      {% include svg/tags.svg %}
    </a>
  {% endif %}

  {% if search_page %}
    <a id="search-link"
       class="icon{% if page.url == '/search' %} active{% endif %}"
       title="Search" aria-label="Search"
       href="{{ site.baseurl }}{{ search_page.url }}">
      {% include svg/search.svg %}
    </a>
  {% endif %}
-->

  {% include custom-icon-links.html %}
</nav>
